
body {
    width: 100%;
    background: linear-gradient(135deg, #f0f4f9, #d9e4f5);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #57a35f;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #028d10;

}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #018a37;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    text-align: center;
}


/*page*/

#hero {
    background-image: url("img8.JPG");
    height: 90vh;
    width: 100%;
    background-size: contain;   /* Show the whole image without cropping */
    background-repeat: no-repeat; /* Prevent tiling */
    background-position: center center; /* Center the image */
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


